<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Form Site</title>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js' type='text/javascript'></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="/public/js/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css"/>
</head>

<body>
    <div id='content'>
        <h1>Handyman Form</h1>
        <form id='theForm'>
            <div id="jobInfo">
                <p>Store #: <input type="text" name="total-store#"></p>
                <p>Job #: <input type="text" name="total-job#"></p>
                <p>WO #: <input type="text" name="total-WO#"></p>
                <p>MOD In: <input type="text" name="total-MODin"></p>
                <p>MOD Out: <input type="text" name="total-MODout"></p>
                <p>Date: <input type="text" name="total-date"></p>
                <p>Time In: <input type="text" name="total-timeIn"></p>
                <p>Time Out: <input type="text" name="total-timeOut"></p>
                <p>Crew: <input type="text" name="total-crew"></p>
            </div>
            <h2>Men's Room</h2>
            <table>
                <tr>
                    <th>Service Performed</th>
                    <th>Total number of units</th>
                    <th>Number of services performed</th>
                    <th>Notes</th>
                </tr>
                <tr>
                    <td><b>Toilet Seats</b></td>
                    <td><input type='text' name='serv-1'></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tighten/rebolt</td>
                    <td></td>
                    <td><input type='text' name='total-2'></td>
                    <td><input type='text' name='txt2'></td>
                </tr>
                <tr>
                    <td>Replace scratched, nicked, discolored</td>
                    <td></td>
                    <td><input type='text' name='total-3'></td>
                    <td><input type='text' name='txt3'></td>
                </tr>
                <tr>
                    <td><b>Toilets, Urinals, Sinks</b></td>
                    <td><input type='text' name='serv-4'></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Minor plumbing as needed (ie; leaks, clogs)</td>
                    <td></td>
                    <td><input type='text' name='total-5'></td>
                    <td><input type='text' name='txt5'></td>
                </tr>
                <tr>
                    <td>Flush-o-meter batteries</td>
                    <td></td>
                    <td><input type='text' name='total-6'></td>
                    <td><input type='text' name='txt6'></td>
                </tr>
                <tr>
                    <td>Re-hang as needed</td>
                    <td></td>
                    <td><input type='text' name='total-7'></td>
                    <td><input type='text' name='txt7'></td>
                </tr>
                <tr>
                    <td><b>Sinks</b></td>
                    <td><input type='text' name='serv-8'></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Re-caulk where necessary</td>
                    <td></td>
                    <td><input type='text' name='total-9'></td>
                    <td><input type='text' name='txt9'></td>
                </tr>
                <tr>
                    <td><b>Walls and Ceilings</b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Touch up painting</td>
                    <td></td>
                    <td><input type='text' name='total-11'></td>
                    <td><input type='text' name='txt11'></td>
                </tr>
                <tr>
                    <td>Touch up GranX</td>
                    <td></td>
                    <td><input type='text' name='total-12'></td>
                    <td><input type='text' name='txt12'></td>
                </tr>
                <tr>
                    <td>FRP Repairs</td>
                    <td></td>
                    <td><input type='text' name='total-13'></td>
                    <td><input type='text' name='txt13'></td>
                </tr>
                <tr>
                    <td>Ceiling Tiles (reseat or replace)</td>
                    <td></td>
                    <td><input type='text' name='total-14'></td>
                    <td><input type='text' name='txt14'></td>
                </tr>
                <tr>
                    <td>Cove Base tile repairs</td>
                    <td></td>
                    <td><input type='text' name='total-15'></td>
                    <td><input type='text' name='txt15'></td>
                </tr>
                <tr>
                    <td>txt1
                        <input type='text' name='serv-txt1'>
                    </td>
                    <td>
                        <input type='text' name='total-txt1'>
                    </td>
                    <td>
                            <input type='text' name='txt1'>
                    </td>

                </tr>
            </table>
            <input type='submit' value='submit'>

        </form>
    </div>
</body>
<html>